
.header ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;
}

.header a{
    color: white;
    padding: 10px;
}
.header a:hover{
    border-top: 3px solid #FFa800;
}

.iconHeader{
    position:relative;
}

.numberBuyProduct{
    position: absolute;
    /* right: 9px; */
    left: 5px;
    bottom: 22px;
    background-color: #ffaa00af;
    padding: 0px 4px;
    border-radius: 21%;
}